#summary-cont {
    display: flex;
    flex-direction: column;
}

.sub-cont {
    font-weight: 300;
}

#summar-header-cont {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 3rem;
}

#summary-info-cont {
    width: 100%;
    height: 20%;
    display: flex;
    font-weight: 100;
}

.info-cont {
    width: max-content
}

#today-data-cont {
    box-sizing: border-box;
    width: min-content;
    padding-right: 30px;
}

#city-cont {
    margin-top: 10px;
    display: flex;
}

#city-cont #city {
    margin-right: 5px;
}

#date-time-cont {
    margin-top: 8px;
    width: 100px
}

#temp-cont {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    box-sizing: border-box;
    padding-right: 30px;
    font-weight: 400;
}

#misc-info-cont {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
}

#misc-cont {
    margin-top: 20px;
    width: 80%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(2,minmax(max-content,1fr));
    grid-template-rows: repeat(2,minmax(max-content,1fr));
}

.today-weather-cont {
    display: flex;
}

.today-weather-header-info-cont {
    font-weight: 100;
    width: 100%;
}

.today-weather-icon-cont {
    margin-right: 8px;
    height: 70px;
    width: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.today-weather-header-cont {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.today-weather-info-cont {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 400;
    font-size: 2rem;
    margin-right: 20px;
} 